
name: TestQuickStart

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    services:
      vaulty:
        image: vaulty/vaulty
        ports:
        - 8080:8080

    - name: Run a one-line script
      run: curl http://localhost:8080/post -d '{ "card": { "number": "4242424242424242", "exp": "10/22" } }' -H "Content-Type: application/json"
